<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feed</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/compiled.css">
    <script src="https://kit.fontawesome.com/30d9eca2ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="bg-white p-3 px-10 shadow sm:block">
        <nav class="w-full flex-row sm:flex sm:justify-between">
            <img class="w-40" src="images/h-logo.svg" alt="knitly logo">
            <ul class="w-full pt-5 sm:py-0 justify-between sm:w-2/5 lg:w-1/4 flex sm:items-center sm:justify-between">
                <li class="cursor-pointer hover:text-indigo-400"><a href="/feed/newPost">Post your Project!</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/feed/profile">Profile</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/logout" method="POST">(log out)</a></li>
            </ul>
        </nav>
    </header>
    <!-- <h1 class="flex justify-between text-center p-5">Here's your User Feed </h1> -->
    <main class="grid grid-cols-1 gap-6 m-5 sm:grid-cols-2 lg:grid-cols-3 ">

        <% for(let i=0;i<posts.length; i++){ %>
            <section class="grid border-2 p-5 rounded-xl bg-white bg-opacity-100 text-md">
                <h1 class="pt-3 font-semibold"><%= posts[i].title %>
                <span class="block text-base text-gray-400 pt-3 mb-5"><i class="fas fa-user-circle pr-2 text-xl"></i><%= posts[i].userName %></span></h1>
                <img class="py-0 object-fill border" src="<%= posts[i].image %>" alt="knitting photo">
                <p class="py-5 break-word"><%= posts[i].description %></p>
                
                <div class="align-end flex justify-between self-end">
                    <form action="/feed/addLike/<%= posts[i].id %>" method="POST">
                        <button class="cursor-pointer opacity-50 hover:opacity-100 focus:outline-none text-red" type="submit"><i class="fas fa-heart text-red-400"></i></button>
                        <span><%= posts[i].likes %> Likes</span>
                    </form>
                    <% if(posts[i].user == user.id){%>
                        <form action="/feed/deletePost/<%= posts[i].id %>" method="POST">
                            <button class="cursor-pointer text-gray-400 hover:text-red-400 float-right" type="submit">(delete post)</button>
                        </form>
                    <% } %>
                </div>
                
            </section>
        <% } %>
    </main>
<script src="js/main.js"></script>
</body>
</html>